<!DOCTYPE html>
<html>
<head>
  <title>ShopHub - Meu Perfil</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="container">
    <h1>Meu Perfil</h1>

    <p>Nome: <%= user.name %></p>
    <p>Email: <%= user.email %></p>

    <p><a href="/edit-profile">Editar Perfil</a></p>
    <p><a href="/">Voltar para a Página Inicial</a></p>
  </div>
</body>
</html>